<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Web Workflow with Gulp and Sass</title>
    <!-- @if NODE_ENV='production' -->
    <link rel="stylesheet" href="dist/css/app.min.css" />
    <!-- @endif -->
    <!-- @if NODE_ENV!='production' -->
    <link rel="stylesheet" href="dist/css/app.css" />
    <!-- @endif -->
  </head>
  <body></body>
</html>
